<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>2020</integer>
  <key>capHeight</key>
  <integer>1593</integer>
  <key>copyright</key>
  <string>Copyright (c) 2011-2012, Sorkin Type Co (www.sorkintype.com)with Reserved Font Names &quot;Voltaire&quot; and &quot;Voltaire One&quot;.</string>
  <key>descender</key>
  <integer>-531</integer>
  <key>familyName</key>
  <string>Voltaire</string>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>2012/04/06 10:44:00</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>2020</integer>
  <key>openTypeHheaDescender</key>
  <integer>-531</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Yvonne Sch&#x178;ttler</string>
  <key>openTypeNameDesignerURL</key>
  <string>www.ysch.de</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1.</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Yvonne Sch&#x178;ttler</string>
  <key>openTypeNameManufacturerURL</key>
  <string>www.sorkintype.com</string>
  <key>openTypeNameDescription</key>
  <string>Voltaire is a low contrast condensed semi-geometric style sans serif. Voltaire is highly readable and will work from medium yext sizes all the way up to larger display settings. Voltaire was inspired by 20th century Swedish posters whose letters have similar forms.</string>
  <key>openTypeNameSampleText</key>
  <string></string>
  <key>openTypeNameUniqueID</key>
  <string>YvonneSchttler: Voltaire Regular: 2011</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.004</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>1</integer>
    <integer>5</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>512</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>102</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>1434</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>287</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>1331</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>1434</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>977</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>1331</integer>
  <key>openTypeOS2Type</key>
  <array>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>2020</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-531</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>5</integer>
    <integer>7</integer>
    <integer>31</integer>
    <integer>33</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>STC</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>2020</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>531</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-49</integer>
    <integer>0</integer>
    <integer>1062</integer>
    <integer>1081</integer>
    <integer>1593</integer>
    <integer>1642</integer>
  </array>
  <key>postscriptUniqueID</key>
  <integer>-1</integer>
  <key>postscriptFontName</key>
  <string>Voltaire-Regular</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Voltaire Regular</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-364</integer>
    <integer>-354</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-75</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Normal</string>
  <key>styleMapFamilyName</key>
  <string>Voltaire</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string>Voltaire is a trademark of Sorkin Type Co.</string>
  <key>unitsPerEm</key>
  <integer>2048</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>4</integer>
  <key>year</key>
  <integer>2011</integer>
  <key>xHeight</key>
  <integer>1062</integer>
  <key>macintoshFONDName</key>
  <string>Voltaire</string>
  <key>macintoshFONDFamilyID</key>
  <integer>128</integer>
</dict>
</plist>
