<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.A</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
  </array>
  <key>.CL</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>Ccedilla</string>
  </array>
  <key>.DR</key>
  <array>
    <string>D</string>
    <string>Eth</string>
  </array>
  <key>.EL</key>
  <array>
    <string>E</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
  </array>
  <key>.ER</key>
  <array>
    <string>E</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
  </array>
  <key>.GuilL</key>
  <array>
    <string>guilsinglright</string>
    <string>guillemotright</string>
  </array>
  <key>.GuilR</key>
  <array>
    <string>guilsinglleft</string>
    <string>guillemotleft</string>
  </array>
  <key>.HL</key>
  <array>
    <string>H</string>
    <string>B</string>
    <string>D</string>
    <string>F</string>
    <string>K</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>L</string>
    <string>Lslash</string>
    <string>Thorn</string>
    <string>Eth</string>
  </array>
  <key>.HR</key>
  <array>
    <string>H</string>
    <string>paragraph</string>
  </array>
  <key>.I</key>
  <array>
    <string>I</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Itilde</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>IJ</string>
  </array>
  <key>.JR</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>.LR</key>
  <array>
    <string>L</string>
    <string>Lslash</string>
  </array>
  <key>.NR</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ntilde</string>
  </array>
  <key>.OL</key>
  <array>
    <string>O</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>OE</string>
    <string>Q</string>
  </array>
  <key>.OR</key>
  <array>
    <string>O</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
  </array>
  <key>.PR</key>
  <array>
    <string>P</string>
    <string>Thorn</string>
  </array>
  <key>.QuoteL</key>
  <array>
    <string>quoteleft</string>
    <string>quotedblleft</string>
  </array>
  <key>.Quoteright</key>
  <array>
    <string>quoteright</string>
    <string>quotedblright</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>.RR</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>.S</key>
  <array>
    <string>S</string>
  </array>
  <key>.U</key>
  <array>
    <string>U</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
  </array>
  <key>.Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
  </array>
  <key>.Z</key>
  <array>
    <string>Z</string>
  </array>
  <key>.aL</key>
  <array>
    <string>a</string>
    <string>ae</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
  </array>
  <key>.aR</key>
  <array>
    <string>a</string>
    <string>a</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
  </array>
  <key>.bR</key>
  <array>
    <string>b</string>
    <string>p</string>
    <string>thorn</string>
  </array>
  <key>.bar</key>
  <array>
    <string>bar</string>
    <string>brokenbar</string>
  </array>
  <key>.c</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
  </array>
  <key>.dL</key>
  <array>
    <string>d</string>
    <string>q</string>
    <string>eth</string>
  </array>
  <key>.eL</key>
  <array>
    <string>e</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
  </array>
  <key>.eR</key>
  <array>
    <string>e</string>
    <string>oe</string>
    <string>ae</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
  </array>
  <key>.fL</key>
  <array>
    <string>f</string>
  </array>
  <key>.fR</key>
  <array>
    <string>f</string>
  </array>
  <key>.h</key>
  <array>
    <string>h</string>
    <string>hbar</string>
  </array>
  <key>.hyphen</key>
  <array>
    <string>hyphen</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>equal</string>
    <string>divide</string>
    <string>logicalnot</string>
    <string>endash</string>
    <string>emdash</string>
    <string>less</string>
    <string>greater</string>
    <string>asciicircum</string>
    <string>hyphen</string>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>.iL</key>
  <array>
    <string>i</string>
    <string>dotlessi</string>
    <string>itilde</string>
    <string>ij</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
  </array>
  <key>.iR</key>
  <array>
    <string>i</string>
    <string>dotlessi</string>
    <string>itilde</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
  </array>
  <key>.jL</key>
  <array>
    <string>j</string>
    <string>jcircumflex</string>
    <string>dotlessj</string>
  </array>
  <key>.jR</key>
  <array>
    <string>j</string>
    <string>ij</string>
    <string>jcircumflex</string>
    <string>dotlessj</string>
  </array>
  <key>.k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
  </array>
  <key>.lL</key>
  <array>
    <string>l</string>
    <string>ldot</string>
    <string>lslash</string>
  </array>
  <key>.lR</key>
  <array>
    <string>l</string>
    <string>lslash</string>
  </array>
  <key>.n</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ntilde</string>
    <string>m</string>
  </array>
  <key>.oL</key>
  <array>
    <string>o</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>oe</string>
  </array>
  <key>.oR</key>
  <array>
    <string>o</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
  </array>
  <key>.percent</key>
  <array>
    <string>percent</string>
  </array>
  <key>.period</key>
  <array>
    <string>period</string>
    <string>periodcentered</string>
    <string>colon</string>
  </array>
  <key>.r</key>
  <array>
    <string>r</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>.s</key>
  <array>
    <string>s</string>
  </array>
  <key>.slash</key>
  <array>
    <string>slash</string>
    <string>backslash</string>
  </array>
  <key>.straightQ</key>
  <array>
    <string>quotesingle</string>
    <string>quotedbl</string>
  </array>
  <key>.u</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
  </array>
  <key>.y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>.z</key>
  <array>
    <string>z</string>
  </array>
</dict>
</plist>
